.SpaceNode{
    padding: 20px;

    &.disabled{
        background-color: dimgray;
    }
    &.free{
        background-color: forestgreen;
    }
    &.taken{
        background-color: orangered;
    }
}
